<header>
    <nav>
        <a href="{{ site.baseurl }}/">Home</a>
        <!-- <a href="{{ site.baseurl }}/pages/about">About</a> -->
        <a href="{{ site.baseurl }}/pages/blogs">Blogs</a>
        <a href="{{ site.baseurl }}/pages/til">TIL</a>
        <a href="{{ site.baseurl }}/pages/projects">Projects</a>
    </nav>

        <div class="top-right-info">
            <p style="margin: 0;"><span id="current-date"></span></p>
            <script>
              const date = new Date();
              const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
              document.getElementById('current-date').textContent = date.toLocaleDateString('en-US', options);
            </script>
            <p style="margin: 0;">I am @ New Delhi, India</p>
        </div>

</header> 
    