<header>
    <nav>
        <a href="{{ site.baseurl }}/">Home</a>
        <!-- <a href="{{ site.baseurl }}/pages/about">About</a> -->
        <a href="{{ site.baseurl }}/pages/blogs">Blogs</a>
        <a href="{{ site.baseurl }}/pages/til">TIL</a>
        <a href="{{ site.baseurl }}/pages/projects">Projects</a>
    </nav>

        <div class="top-right-info">
            <p style="margin: 0;">{{ site.time | date: "%A, %B %d, %Y" }}</p>
            <p style="margin: 0;">I am @ New Delhi, India</p>
        </div>

</header> 
    