<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}</title>
    {% raw %}{{ seo }}
    <link rel="stylesheet" href="{{ "/assets/css/main.scss" | relative_url }}">
    {{ feed_meta }}{% endraw %}
</head>
<body>
    {% raw %}{% include navigation.html %}
    
    <main class="container">
        {{ content }}
    </main>

    {% include footer.html %}{% endraw %}
</body>
</html> 